<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel = 'stylesheet' href = '/css/about.css'>
        <script src="https://kit.fontawesome.com/7e8fdaa662.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class = 'wrapper'>
            {{>navbar}}
            {{>footer}}
        </div>
    </body>
</html>