<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel = "stylesheet" href = '/css/styles.css'>
        <script src="https://kit.fontawesome.com/7e8fdaa662.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class = 'wrapper'>
            {{>navbar}} 

            <div class = 'main'>
                <div class = 'req'>
                    <input id = 'location' placeholder="please enter text here" type = 'text' style="height:90%;width: 80%;">
                    <i id = 'sendReq' class="fas fa-search"></i>
                    {{!-- <button id = 'sendReq'><p>Search</p></button> --}}
                    <div class = 'dropdown'>
                        <div class = 'childNode'><p>New York City</p></div>
                        <div class = 'childNode'><p>Los Angeles</p></div>
                        <div class = 'childNode'><p>Yemen</p></div>
                        <div class = 'childNode'><p>New Delhi</p></div>
                        <div class = 'childNode'><p>Australia</p></div>
                        <div class = 'childNode'><p>Germany</p></div>
                        <div class = 'childNode'><p>Kiev</p></div>
                    </div>
                </div>
                <div class = 'res'>
                </div>
            </div>

            {{>footer}}
        </div>

    </body>
    <script src = '/js/app.js'> </script>
</html>