<div class = 'navbar'> 
    {{!-- <kbd>Weather Now</kbd> --}}
    <div class = 'logo'>
        <i class="fas fa-wind"></i>
        {{!-- <kbd>WeatherNow</kbd> --}}
    </div>
    <div class = 'elements'>
        <a href = '/home'>Get Weather</a>
        {{!-- <a href = '/about'>About Me</a> --}}
        {{!-- <a href = '/help'>Help</a> --}}
    </div>
</div>